.quote {
  font-size: 20px;
  font-weight: 700;
  padding: 8px;
  color: white;
  background-color: rgba(0, 0, 0, .3);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.366);
}

.pagination_link {
  padding: 0 7px 0 7px;
  margin: 8px;
  background-color: rgb(216, 211, 211);
  border-radius: 5px;
}

.pagination_link:active {
  outline: none;
}

.active {
  background-color: white;
}

.more:hover,
.read:hover,
.buy:hover {
  background-color: rgb(32, 31, 30);
  cursor: pointer;
}

.title {
  height: 70px;
  overflow: hidden;
  text-overflow: hidden;
}

.more {
  position: absolute;
  left: 5px;
  top: 50px;
  background-color: black;
  border-radius: 6px;
  padding: 3px;
}

.buy {
  position: absolute;
  right: 8px;
  background-color: black;
  border-radius: 6px;
}

.popup-container {
  position: absolute;
  transform: translateX(-100vw);
  z-index: 2;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  transition: 1s;
  opacity: 0;
}

.read {
  position: absolute;
  left: 5px;
  background-color: black;
  border-radius: 6px;
  padding: 3px;
  ;
}

.text {
  display: flex;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 40px;
  height: 100%;
}

.close {
  position: absolute;
  right: 5px;
}

address {
  background-color: black;
  max-height: 5.5ch;
  overflow: auto;
  line-height: 24px;
}

#addBtn {
  vertical-align: bottom;
  transition: 0.2s;
  align-self: center;
  background-color: #94deb9;
  border: none;
  transition: 1s;

  &:hover {
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
  }
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
  flex: 0 1 15%;
  border: 2px solid #ab2424b3;
  padding: 10px;
  background-color: #520909;
  color: white;

  img {
    align-self: center;
  }
}

.form {
  margin: 0 0 20px 0;
}


.remove-btn {
  align-self: center;
  background-color: #d86745;
  border: none;
  transition: .2s;


  &:hover {
    color: white;
    cursor: pointer;
  }
}

.none {
  display: none;
}